<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @periodics_category.name %>
</p>

<%= link_to 'Edit', edit_periodics_category_path(@periodics_category) %> |
<%= link_to 'Back', periodics_categories_path %>
