<!DOCTYPE html>
<html>
<body>

<h2>Welcome to FinAdmin</h2>
<p>The Menu of FinAdmin consists of the following items needed to be introduced:</p>

<ul>
  <li>Trucks
    <ul>
      <li>New Truck  - Create a new truck record in the DB</li>
      <li>All Trucks - Vew all existent trucks present in the DB</li>
    </ul>
  </li>
 
<li>Trucks Expenses
    <ul>
      <li>New Truck Expense  - Create a new truck expense (expense related to the repair and mantenance of the vehicule) record in the DB </li>
      <li>All Trucks - Vew all existent truck expenses present in the DB</li>
    </ul>
  </li>
 
 <li>Driver Expenses
    <ul>
      <li>New Driver Expense  - Create a new driver expense (expense related payments made by the driver) record in the DB </li>
      <li>All Trucks - Vew all existent driver expenses present in the DB</li>
    </ul>
  </li>

</ul>

</body>
</html>

