<!DOCTYPE html>
<html>
<body>

<h2>Welcome to FinAdmin</h2>
<p>The Menu of FinAdmin consists of the following items needed to be introduced:</p>

<ul>
  <li>Trucks
    <ul>
      <li>New Truck  - Create a new truck record in the DB</li>
      <li>All Trucks - View all existent trucks present in the DB</li>
    </ul>
  </li>
 
<li>Trucks Expenses
    <ul>
      <li>New Truck Expense  - Create a new truck expense (expense related to the repair and mantenance of the vehicule) record in the DB </li>
      <li>All Truck Expenses - View all existent truck expenses (with their specific types) present in the DB</li>
    </ul>
  </li>
 
 <li>Driver Expenses
    <ul>
      <li>New Driver Expense  - Create a new driver expense (expense related payments made by the driver) record in the DB </li>
      <li>All Trucks - View all existent driver expenses (with their specific types) present in the DB</li>
    </ul>
  </li>

 <li>Toll Generic
    <ul>
      <li>New Toll Generic  - Create a new generic toll expense (Number plate of the truck it applies, period of concern (Start/End date), <br> covered distance and cost in Euro currency) and record it in the DB </li>
      <li>All Trucks - View all existent generic toll expenses present in the DB</li>
    </ul>
  </li>

<li>Driver Events
    <ul>
      <li>New Driver Events  - Create a new driver event (to specify the date a which a driver starts/stops working on/for a truck/client) <br> and record it in the DB </li>
      <li>All Events - View all existent driver events</li>
    </ul>
  </li>

<li>Fuel Expense
    <ul>
      <li>New Fuel Expense  - Create a new fuel expense specification 
      <li>File Import  - Import fuel expense specification as provided by IDS csv file        
      <li>All Fuel Expenses - View all existent fuel expenses made within a time interval</li>
    </ul>
  </li>

<li>Toll Germany
    <ul>
      <li>New Toll Germany  - Create a new toll Germany specification 
      <li>File Import  - Import Germany toll specification as provided by TollCollect csv file        
      <li>All Fuel Expenses - View all existent Germany toll costs made within a time interval</li>
    </ul>
  </li>

<li>Toll Belgium
    <ul>
      <li>New Toll Belgium  - Create a new toll Belgium specification 
      <li>File Import  - Import Belgium toll specification as provided by Satellic csv file        
      <li>All Fuel Expenses - View all existent Belgium toll costs made within a time interval</li>
    </ul>
  </li>


</ul>

</body>
</html>

