<p id="notice"><%= notice %></p>
<h1>Germany Tolls Import File</h1>
<div>
<h4> Import that data!</h4>
  <%= form_tag import_de_tolls_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag  "Import CSV"%>
<% end %>
</div>