// Place all the styles related to the invoiced_trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.block {
  width: 100px;
}