<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>	
	<p>Dear all,
	<br>Please find in the attachment the papers for Loading order <%= @references %>.
	<br> <%= @extra_email_text %>
	<br>thank you,
	<br>Ameropa Logistics
	</p>
  </body>
</html>
